/*
COLORS
*/
$primary: #fe229b;
$secondary: #002b40;
$neutral: #dfe6e8;
$disabled: #fed0e8;

$bg-grey: #eff2f3;
$bg-light-grey: #f6f6f9;
$border-grey: #e0e4eb;
$dark-grey: darken(#404040, 10%);
$grey-text: darken(#9db9ca, 10%);
$light-grey-text: lighten(#9db9ca, 10%);
$white: #fff;
$black: #000;

$link-blue: darken(#4a90e2, 5%);
$title-blue: #094e7a;

/*
Fonts
 */
$roboto: 'Roboto';
$openSans: 'Open Sans';
